#js_qrcode {
    display: none !important;
}
#liquidpay-qrcode {
    max-width: 256px;
    max-height: 256px;
    margin: 0 auto;
}
#liquidpay-qrcode img {
    margin: 0 auto;
    border: 1px solid #ccc;
    width: 256px;
    height: 256px;
}
#liquidpay-description {
    text-transform: none;
    font-size: 14px;
}
.liquidpay-clear {
    margin: 8px 0 !important;
}
.liquidpay-clear-area {
    margin: 5px 0 !important;
}
.liquidpay-form-group input {
    width: 70%;
    max-width: 80% !important;
    text-align: center !important;
    border-radius: 5px !important;
    margin: auto;
    display: inline-block;
    vertical-align: bottom;
}
.liquidpay-form-group select {
    width: 25%;
    border-radius: 5px !important;
    display: inline-block;
    vertical-align: sub;
}
span.liquidpay-required {
    color: red;
}
.liquidpay-order-total {
    font-weight: 700;
    font-size: 14px;
    margin: 3px 0 12px 0;
}
.liquidpay-liquidpay-id {
    font-weight: 700;
    font-size: 12px;
    margin: 0 0 3px 0;
}

div#spnBillStatus {
    font-size: 14px;
}

.liquidpay-confirm-text {
    font-size: 14px;
}
.jconfirm-box,
.jconfirm.jconfirm-dark .jconfirm-box .jconfirm-buttons,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons {
    text-align: center !important;
    float: none !important;
}
.jconfirm-buttons button {
    font-size: 12px !important;
}
.liquidpay-info {
    display: block;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(84, 84, 84, 0.15);
    border-image: initial;
    padding: 18px;
    background-color: #f7f7f7;
}
.liquidpay-waiting-text {
    text-transform: uppercase;
    color: #5a5a5a;
    font-size: 13px;
}
.liquidpay-dark-input {
    color: #fff !important;
}

#liquidpay-logo {
    text-align: center;
    display: inline-block;
}
#liquidpay-logo img {
    margin: 20px;
    max-width: 60px;
}


@media only screen and (max-width: 600px) {
    .jconfirm-title {
        font-size: 18px !important;
    }
    .jconfirm-buttons button {
        font-size: 11px !important;
    }
    .liquidpay-confirm-text,
    .liquidpay-description {
        font-size: 11px !important;
    }
    #liquidpay-handle,
    #liquidpay-id,
    #liquidpay-transaction-number {
        width: 80% !important;
        display: inline-block;
    }
    #liquidpay-form label {
        font-size: 13px !important;
    }

    #liquidpay-qrcode img {
        width: 230px;
        height: 230px;
    }
}
